<footer class="footer">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Carrers</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Privacy policy</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="footer__copyright">
                    <a href="#" class="footer__link">Bakuei.</a> Built with 💖 in Jaipur by <a href="#" class="footer__link"> Team Rocket</a>.
                    Copyright &copy; by Team Rocket.
                </p>
            </div>
        </div>
    </footer>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.1/pixi.min.js"></script>
    <script src="../js/blob.js"></script>
    <script src="/scripts/location.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>