<% include ./partials/header %>

<div class="container" id="about">
    <h1 style="margin-bottom: 40px">Meet the team</h1>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="img/Anamay.jpg" class="story__img">
                <figcaption class="story__caption">Anamay Saxena</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">Tech Guy</h3>
                <p>
                    Web developer with an unquenchable thirst for knowledge and an unparalleled drive to be the best at whatever I do. Creative, reliable, and a problem solver who is willing to go that extra mile.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="img/Abhijeet.jpg" alt="Person on a tour" class="story__img">
                <figcaption class="story__caption">Abhijeet Bafna</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">Product Guy</h3>
                <p>
                    I am keen to learn new things every day. I like to work in an organized way, which results in a neat work. Perfection is what I aim for. I observe things around me, try to find patterns in them and I enjoy listening to people. It is something like a constant reminder to me that there is a lot to learn and there are endless possibilities to do anything which we dearly want to do. 
                    By this, I try to understand the world around me and myself, and it ignites the spark in me to be a better person. I believe there are endless opportunities and possibilities to do anything, and we should not ever stop exploring.                </p>
            </div>
        </div>
    </div>

</div>

<% include ./partials/footer %>