<% include partials/header %>
<div class="container">
        <h1 style="text-align: center; color: rgba(40, 180, 133, 0.8)">Create a new campground</h1>
        <div style="width: 50%; margin: 30px auto">
            <form action="/index" method="POST">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control comment-box" placeholder="name" name="name" id="nname" style="display: inline;">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control comment-box" placeholder="location" name="location" id="nlocation" style="display: inline;">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control comment-box" placeholder="image url" name="image">      
                </div>
                <div class="form-group">
                    <input type="hidden" name="lat" id="lat" >
                </div>
                <div class="form-group">
                    <input type="hidden" name="long" id="long" >
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control comment-box" placeholder="description" name="description" cols="30" rows="10"> </textarea> 
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-submit btn-bloc"  id="createcg">Submit</button>
                </div>
            </form>

            <a href="/index">Go back</a>
        </div>
        <script>
        $("#nname").on("keyup",function(){
            jQuery.getJSON("https://maps.googleapis.com/maps/api/geocode/json?address="+$("#nname").val()+"+"+$("#nlocation").val()+"&key=AIzaSyBdUIUKnJ9M2TArsF-xpiPutgwJPgHkqEE",function(a){
                lat = a.results[0].geometry.location.lat;
                long = a.results[0].geometry.location.lng;
                $("#lat").val(lat);
                $("#long").val(long);
            });
        });
        $("#nlocation").on("keyup",function(){
            jQuery.getJSON("https://maps.googleapis.com/maps/api/geocode/json?address="+$("#nname").val()+"+"+$("#nlocation").val()+"&key=AIzaSyBdUIUKnJ9M2TArsF-xpiPutgwJPgHkqEE",function(a){
                lat = a.results[0].geometry.location.lat;
                long = a.results[0].geometry.location.lng;
                $("#lat").val(lat);
                $("#long").val(long);
            });
        });
        </script>
</div>
<footer class="footer">
    <div class="row">
        <div class="col-lg-6">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Carrers</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Privacy policy</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="footer__copyright">
                <a href="#" class="footer__link">Bakuei.</a> Built with 💖 in Jaipur by <a href="#" class="footer__link"> Team Rocket</a>.
                Copyright &copy; by Team Rocket.
            </p>
        </div>
    </div>
</footer>  
<% include partials/footer %>
