<% include partials/header %>
<canvas id="myCanvas" width="100" height="100"></canvas>
    <div class="container text-center signup-form-container">
        <form action="/register" method="POST">
            <h1 style="color: #000">Sign Up</h1>
            <input class="form-control login-field" type="text" name="username" placeholder="username" required>
            <input class="form-control login-field" type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email ID" required>
            <input class="form-control login-field" type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            <input class="form-control login-field" type="password" name="adminCode" placeholder="code (leave this blank if you do not know what it is)">
            <div class="g-recaptcha login-field" data-sitekey="6LdN9qAUAAAAAG9UjflQIkS1LxqVEU1safo1gRxl"></div>         
            <!-- <input class="form-control login-field" type="text" name="state" placeholder="state" required> -->
            <button class="form-login-button">Sign Up</button>
        </form>
    </div>

<% include partials/footer %>
