<% include partials/header %>
<div class="container">
    <h5>SEARCH RESULTS:</h5>
<div class="row text-center">
<% if(results.length>0){ %>
    <% results.forEach(function(cg){ %>
        <div class="col-lg-3 col-md-4 col-sm6- mb-4 d-flex align-items-stretch">
                <div class="sample-card">
                    <div class="sample-card-header">
                        <%= cg.name %>
                    </div>
                    <figure class="sample-card-body">
                        <img class="sample-card-img" src="<%= cg.image %>">
                        <figcaption class="sample-card-caption">
                            BITCONNECT<br><br>
                            <a href="/index/<%= cg._id %>" class="button">More info</a>
                        </figcaption>
                    </figure>
                </div>
           </div>
    <% }); %>
<% } else { %>
    <h1>NO RESULTS.</h1>
<% } %>
</div>
</div>
<footer class="footer">
    <div class="row">
        <div class="col-lg-6">
            <div class="footer__navigation">
                <ul class="footer__list">
                        <li class="footer__item"><a href="#comehere" class="footer__link">Contact Us!</a></li>
                        <li class="footer__item"><a href="/blog" class="footer__link">Blog</a></li>
                        <li class="footer__item"><a href="/policy" class="footer__link">Privacy policy</a></li>
                        <li class="footer__item"><a href="/terms" class="footer__link">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="footer__copyright">
                <a href="#" class="footer__link">Bakuei.</a> Built with 💖 in Jaipur by <a href="#" class="footer__link"> Team Rocket</a>.
                Copyright &copy; by Team Rocket.
            </p>
        </div>
    </div>
</footer>  
<% include partials/footer %>