<% include partials/header %>
<div class="container">
    <h5>SEARCH RESULTS:</h5>
<div class="row text-center">
<% if(results.length>0){ %>
    <% results.forEach(function(cg){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
          <div class="card ">
            <img class="card-img-top himg" src="<%= cg.image %>">
            <div class="card-body">
               <h5 class="card-title"><%= cg.name %></h5>
               <!-- <p class="card-text"><%= cg.description %></p> -->
               <p>
                   <a href="/index/<%= cg._id %>" class="btn btn-primary">More info</a>
               </p>
            </div>
          </div>
       </div>
    <% }); %>
<% } else { %>
    <h1>NO RESULTS.</h1>
<% } %>
</div>
</div>
<% include partials/footer %>