
#map {
    height: 426px;
    max-width: 690px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    /* font-family: Montserrat; */
    font-family: 'Raleway';
    background-color: #fff;
    font-weight: 200;
}
*::selection{
    color: #fff;
    background-color: rgba(40, 180, 133, 0.8);
}
.list-group-item{
    background: transparent;
    color: rgba(40, 180, 133, 0.8);
    border-color: rgba(40, 180, 133, 0.8);
}
.comment-card-header{
    background-color: rgba(40, 180, 133, 0.8);
    color: #fff;
}
.comment-box, .comment-box:active, .comment-box:focus{
    border: 1px solid rgba(40, 180, 133, 0.8);
    background-color: transparent;
    color: rgba(40, 180, 133, 0.8);
    box-shadow: none;
    outline: none;
    font-size: 20px;
}
.comment-box a{
    color: #137BC2;
}
.lead{
    color: rgba(40, 180, 133, 0.8);
}
.map{
    margin: 0px auto;
    height: 426px;
    max-width: 690px;
    background-color: red;
}

.front{
    /* z-index: 2; */
    opacity: 1;
}
.back{
    /* z-index: 1; */
    opacity: 0;
    display: none;
}
img{
    width: 100%;
}
.card-img-top{
    border-bottom: 1px solid rgba(40, 180, 133, 0.8);
}
.list-group-item.active{
    border-color: rgba(40, 180, 133, 0.8);
    background-color: rgba(40, 180, 133, 0.8);
    color: #fff;
}
.big-card{
    border: 1px solid rgba(40, 180, 133, 0.8);
    border-radius: 4px;
}
.cgname{
    color: rgba(40, 180, 133, 0.8);
    font-weight: 600;
}
.cgname:hover, .cgname:focus{
    color: rgba(40, 180, 133, 0.8);
    text-decoration: none;
}
.cgdesc{
    color: rgba(40, 180, 133, 0.8);
}
.btn-submit{
    color: #23AA5A;
    border: 1px solid #23AA5A;
    border-radius: 4px;
    background-color: transparent;
}
.btn-submit:hover,.btn-submit:focus{
    color: #fff;
    border: 1px solid #23AA5A;
    background-color: #23AA5A;
    box-shadow: none;
    text-decoration: none;
}
.btn-edit{
    color: #FFC200;
    border: 1px solid #FFC200;
    border-radius: 20px;
    background-color: transparent;
}
.btn-edit:hover,.btn-edit:focus{
    color: #fff;
    border: 1px solid #FFC200;
    background-color: #FFC200;
    border-radius: 20px;
    box-shadow: none;
    text-decoration: none;
}
.btn-delete{
    color: #DE3636;
    background-color: transparent;
    border: 1px solid #DE3636;
    border-radius: 20px;
}
.btn-delete:hover,.btn-delete:focus{
    color: #fff;
    border: 1px solid #DE3636;
    background-color: #DE3636;
    border-radius: 20px;
    box-shadow: none;
    text-decoration: none;
}
hr{
    border-bottom: 1px solid #fff;
}
.jumbotron {
    height: 80vh;
    padding-top: 10rem;
    margin-top: -1.5rem;
}

.edit-area-alt{
    display: none;
    margin: 0;
}
#alt-edit{
    padding: 0;
}
.navbar{
    background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8));
    z-index: 3;
    padding: 0 16px;
    /* height: 40px; */
}

.jumbotron{
    background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.3), rgba(40, 180, 133, 0.3)), url('/img/final.gif');    background-size: cover;
    color: #ffffff;
    text-align: center;
}

.sample-card{
    width: 100%;
    border-radius: 4px;
    transition: 0.2s all;
    height: 330px;
}
.sample-card-header{
    position: absolute;
    top: 80%;
    right: 10%;
    color: white;
    font-weight: 500;
}
.sample-card-body{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.sample-card-img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}
.sample-card-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
}
.sample-card:hover{
    outline: 10px solid #FFC200;
}
.sample-card:hover .sample-card-img{
    filter: blur(3px) brightness(80%);

}

.sample-card:hover .sample-card-caption{
    opacity: 1;
    transform: translate(-50%,-50%);
}
.jumbotron .btn-primary{
    background-color: transparent;
    border-color: #ffffff;
    width: 70%;
    max-width: 330px;
    white-space: normal;

}
.jumbotron .btn-primary:hover{
    background-color: #FFC200;
    border-color: #FFC200;
}

.form-container{
    border-radius: 4px;
    color: #fff;
    width: 50%;
    position: absolute;
    top: 27%;
    left: 26%;
    /* z-index: 2; */
}
.signup-form-container{
    border-radius: 4px;
    color: #fff;
    width: 50%;
    position: absolute;
    top: 18%;
    left: 26%;
    /* z-index: 2; */
}

.form-login-button{
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
}
.form-login-button:hover{
    background-color: #fff;
    color: rgba(40, 180, 133, 0.8);
}
.form-login-button:focus{
    outline: none;
    box-shadow: none;
}
.login-field{
    width: 50%;
    margin: 5% auto;
    background-color: transparent;
    border-radius: 20px;
    border-color: #fff;
    color: #fff;
    min-width: 200px;
}
.login-field::placeholder{
    color: #fff;
}
.login-field:focus{
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
.navbar-light .navbar-brand{
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 2px;
    color: white;

}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.btn-outline-success{
    background: transparent;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 20px;
    height: 25px;
    padding-top: 0;
}

.btn-outline-success:hover{
    color: #FFC200;
    background: transparent;
    border-color: #FFC200;
}

.button{
    border: 1px solid #FFC200;
    border-radius: 20px;
    border-color: #FFC200;
    background-color: transparent;
    color: #FFC200;
    padding: 5px 5px;
}

.button:hover{
    color: white;
    background-color: #FFC200;
    text-decoration: none;
}

.eventContainer{
    width: 90%;
    background-color: rgba(85, 197, 122, 0.4);
    margin: 7% auto;
    border-radius: 5px;
    color: #f7f7f7;
}

.eventImage{
    height: 50%;
    margin: 10px 10px;
}

.eventTitle{
    margin-top: 60px;
}
.eventDesc{
    margin: 20px auto;
}
.eventForm{
    margin: 20px auto;
}
.eventBtn{
    display: block;
    margin: 50px auto;
}
.receiptHeader{
    padding: 20px 40px;
}
.receipt-col-1{
    width: 5%;
}
.receipt-col-2{

}
.receipt-col-3{
    width: 10%;

}
.receiptTable{
    width: 100%;
}
.rtHeader{
    background-color: rgba(57, 70, 65, 0.3);
}
.midcol{
    border-left: #f7f7f7 0.5px solid;
    border-right: #f7f7f7 0.5px solid;
}

.eventWrapper{
    background-image: url(/img/eventbg4.jpg);
    margin-top: -1.5rem;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#navsearch{
    border-radius: 20px;
    border-color: #ffffff;
    height: 25px;
}

#navsearch:focus{
    outline: none;  
    box-shadow: none;
}
.events-image{
    background-image: url(/img/clapping.jpg);
    background-size: cover;
    width: 100%;
    height: 70vh;
    margin: -24px auto 50px auto;
}

/* TEST */
canvas {
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 20%;
    left: 32%;
    z-index: -1;
    border-radius: 20px;
  }
.blob{
    margin: 20px auto;
}
  
  #myCanvas {
    display: none;
    background-color: black;
  }
.footer {
  background-color: #333;
  font-size: 62.5%;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(5deg) scale(1.3);
            transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }
